<footer class="footer footer-sticky">
    <div class="container">
        <div class="footer-content">
            <span>Copyright &copy; 2025 Wanderlust</span>
            <span> | All rights reserved</span>
        </div>
        <div class="footer-content">
            <span>Follow us on social media: </span>
            <span class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </span>
        </div>
        <div class="footer-content">
            <span>Contact us at <a href="mailto:info@wanderlust.com">info@wanderlust.com</a></span>
            <span> | <a href="/privacy">Privacy Policy</a></span>
            <span> | <a href="/terms">Terms of Service</a></span>
        </div>
    </div>
</footer>