<footer class="footer footer-sticky">
    <div class="container">
        <div class="footer-content">
            <span>Copyright &copy; 2025 Thanvith</span>
            <span> | All rights reserved</span>
        </div>
        <div class="footer-content">
            <span>Follow on social media: </span>
            <span class="social-media">
                <a href="https://www.linkedin.com/in/thanvith-manjunath-k/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Thanvithmk"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </span>
        </div>
        <div class="footer-content">
            <span>Contact us at <a href="#">info@wanderlust.com</a></span>
            <span> | <a href="/privacy">Privacy Policy</a></span>
            <span> | <a href="/terms">Terms of Service</a></span>
        </div>
    </div>
</footer>