<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
    <h3>Create a new listing</h3>
    <form method="POST" 
    action="/listings" 
    class="needs-validation" novalidate 
    enctype="multipart/form-data">
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" id="title" class="form-control" required>
            <div class="invalid-feedback">Please enter a title</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">   
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a description</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">    
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" id="price" class="form-control" required>
            <div class="invalid-feedback">Please enter a price</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">    
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]" id="image"  class="form-control">
            <div class="invalid-feedback">please upload an image</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" id="category" class="form-control" required>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing pools">Amazing pools</option>
                <option value="Camping">Camping</option>
                <option value="Farm stays">Farm stays</option>
                <option value="Arctic">Arctic</option>
                <option value="Forest">Forest</option>
                <option value="Beach">Beach</option>
                <option value="Desert">Desert</option>
                <option value="Cabins">Cabins</option>
                <option value="Tiny homes">Tiny homes</option>
            </select>
            <div class="invalid-feedback">Please select a category</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">    
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" id="country" class="form-control" required>
            <div class="invalid-feedback">Please enter a country</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" id="location" class="form-control" required>
            <div class="invalid-feedback">Please enter a location</div>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">    
            <button class="btn btn-primary">Create Listing</button>
        </div>
        </form>
    </div>
    
    <a href="/listings">Back to all listings</a>

</div>