<% layout('layouts/boilerplate') %>

<div class="row">
    
<div class="alert alert-danger col-6 offset-3" role="alert">
        <h4 class="alert-heading">
            <%= message %>
            <%= statusCode %>
        </h4>
        <a href="/" class="btn btn-outline-danger">Go to Home</a>
    </div>
</div>